{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'credentials' %}">&#8592; Back</a>
</div>


<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {% load static %}
        <div class="type-select-wrapper">
            {% for key, value in types.items %}
                {% if form.type.value == key %}
                <img id="img-{{key}}" class="cred-icon" src="{% static value %}"></img>
                {% else %}
                <img id="img-{{key}}" class="cred-icon hidden" src="{% static value %}"></img>
                {% endif %}
            {% endfor %}
            <div class="select-title-wrapper">
                <h3>{{form.type.label}}</h3>
                <select name="type" id="cred-type" value="{{form.type.value}}" onchange="onOptionSelect()">
                    {% for key, value in types.items %}
                        {% if form.type.value == key %}
                        <option id="{{key}}" value="{{key}}" selected>{{key|capfirst}}</option>
                        {% else %}
                        <option id="{{key}}" value="{{key}}">{{key|capfirst}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <h3>{{form.title.label}}</h3>
        {{form.title}}
        <h3>{{form.username.label}}</h3>
        {{form.username}}
        <h3>{{form.password.label}}</h3>

        <div class="password-wrapper">
            <input type="password" id="password" name="password" value="{{form.password.value}}" data-toggle="password">
            <div class="eye-toggle eye-open" id="eye-toggle" onclick="togglePass()"></div>
            <div class="copy-toggle" id="copy-toggle" onclick="onCopyClick()"></div>
            <div class="dice-toggle" id="dice-toggle" onclick="openModal('modal')"></div>
        </div>
        <div class="hidden">{{form.last_updated}}</div>
        {% if form.last_updated %}
            <p><b>Last updated:</b> {{form.last_updated.value}}</p>
        {% endif %}

        <input class="button submit-form" type="submit" value="Submit">
    </form>

    <div id="modal" class="pg-modal">
        <div class="pg-modal-body">
            <h1 class="pg-title">Throw the password dice!</h1>
            <p class="pg-description">
                Customize the random password generator using the options below, then click on the dice until you are satisfied with the new password.
            </p>
            <span class="pg-separator"></span>
            <h4>Generated Password</h4>
            <div class="password-wrapper gen-wrapper">
                <!-- {% load static %} -->
                <input type="text" id="gen_password" name="gen_password" placeholder="Throw the dice to generate random password!">
                <div class="dice-toggle" id="eye-toggle" onclick="generatePassword()"></div>
            </div>
            <div class="password-control">
                <div class="pc-wrapper">
                    <span class="icon-length"></span>
                    <div class="length-control">
                        <button id="down-btn" class="length-btn" onclick="stepDown()">-</button>
                        <input type="number" id="gen_password_length" value="16">
                        <button id="up-btn" class="length-btn" onclick="stepUp()">+</button>
                    </div>
                </div>
                <div class="pc-wrapper">
                    <span class="control-label">[0 - 9]</span>
                    <input type="checkbox" id="gen_numbers" class="pc-input" checked>
                </div>
                <div class="pc-wrapper">
                    <span class="control-label">Aa</span>
                    <input type="checkbox" id="gen_uppercase" class="pc-input" checked>
                </div>
                <div class="pc-wrapper">
                    <span class="control-label">@#$%!</span>
                    <input type="checkbox" id="gen_symbols" class="pc-input" checked>
                </div>
            </div>
            <div class="modal-control">
                <button class="action-btn" onclick="closeModalAndSavePassword()">Set as new password</button>
                <button class="secondary-btn" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function onCopyClick() {
        var passInput = document.getElementById("password");
        navigator.clipboard.writeText(passInput.value);
    }

    function onOptionSelect() {
        var selectedVal = document.getElementById("cred-type").value;
        var typeImages = document.getElementsByClassName("cred-icon");
        var selectedImage = document.getElementById("img-" + selectedVal);
        [...typeImages].forEach(img => img.classList.contains("hidden") ? null : img.classList.add("hidden"));
        selectedImage.classList.remove("hidden");
    }

    window.addEventListener('load', onOptionSelect());

    function togglePass() {
        var passInput = document.getElementById("password");
        var toggle = document.getElementById("eye-toggle");
        if(passInput.type === "password") {
            passInput.type = "text";
            toggle.classList.remove("eye-open");
            toggle.classList.add("eye-closed");
        } else {
            passInput.type = "password";
            toggle.src = './imgs/eye.png';
            toggle.classList.remove("eye-closed");
            toggle.classList.add("eye-open");
        }
    }

    function openModal(id) {
        document.getElementById(id).classList.add('open');
        document.body.classList.add('pg-modal-open');
    }

    // close currently open modal
    function closeModal() {
        document.querySelector('.pg-modal.open').classList.remove('open');
        document.body.classList.remove('pg-modal-open');
    }

    function closeModalAndSavePassword() {
        var passInput = document.getElementById("password");
        var genPass = document.getElementById("gen_password");
        if(genPass.value == "") {
            return;
        }
        passInput.value = genPass.value;
        closeModal();
    }

    function generatePassword() {
        let length = document.getElementById("gen_password_length").value;
        let includeNumbers = document.getElementById("gen_numbers").checked;
        let includeSymbols = document.getElementById("gen_uppercase").checked;
        let includeUppercase = document.getElementById("gen_symbols").checked;

        // console.log("length " + length + " , numbers " + includeNumbers + " , symbols " + includeSymbols + " , upper " + includeUppercase)

        const lowercaseChars = "abcdefghijklmnopqrstuvwxyz";
        const uppercaseChars = includeUppercase ? lowercaseChars.toUpperCase() : "";
        const numbers = includeNumbers ? "0123456789" : "";
        const symbols = includeSymbols ? "!@#$%^&*()_+-=[]{}|;':\"\\,.<>/?`~" : "";
        const allChars = lowercaseChars + uppercaseChars + numbers + symbols;

        let password = "";
        for (let i = 0; i < length; i++) {
            const randomIndex = Math.floor(Math.random() * allChars.length);
            password += allChars.charAt(randomIndex);
        }
        var genPass = document.getElementById("gen_password");
        genPass.value = password;
        return password;
    }

    function stepUp() {
        document.getElementById("gen_password_length").stepUp(1);
    }
    function stepDown() {
        document.getElementById("gen_password_length").stepDown(1);
    }

</script>


{% endblock content %}