{% extends 'base/main.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
{% load static %}
<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">You have <i>{{count}}</i> owned credential{{ count|pluralize:"s" }}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="logout-button" type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' id='search-area' placeholder="Search your credential" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    {% if credentials|length > 0 %}
    <a id="add-link" href="{% url 'credential-create' %}">&#x2b;</a>
    {% endif %}
</div>


<!-- Hidden form. Form submits new item positions -->
<form style="display: none;" id="reorderForm" method="post" action="{% url 'credential-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form>


<div id="credentiallist" class="credential-items-wrapper">
    {% for credential in credentials %}
    <div class="credential-wrapper" data-position="{{credential.pk}}">
        <div class="credential-title">
            {% if credential.owned %}
            <div class="credential-inowned-icon"></div>
            <i><s><a href="{% url 'credential-update' credential.id %}">
                {{credential}}
            </a></s></i>
            {% else %}
            <div class="credential-owned-icon"></div>
            <img class="list-type-icon" src="{% static 'imgs/icons/'|add:credential.type|add:'.ico' %}"></img>
            <a href="{% url 'credential-update' credential.id %}">
                {{credential}}
            </a>
            {% endif %}
        </div>
        <div class="credential-controls">
            <a class="delete-link" href="{% url 'credential-delete' credential.id %}">&#215;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>
        <div class="break"></div> <!-- break -->
        <div class="username-wrapper">
            <p>{{credential.username}}</p>
        </div>
        <div class="break"></div> <!-- break -->
        <div class="credential-details">
            <p>Last update:</p>
            <p>{{credential.last_updated}}</p>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new credentials are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'credential-create' %}">New credential</a> ! </h3>
    </div>
    {% endfor %}
</div>

<script>
    var credentiallist = document.getElementById("credentiallist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(credentiallist, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedCredential',

    });

    function reordering() {
        const rows = document.getElementsByClassName("credential-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>

{% endblock content %}