{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'credentials' %}">&#8592; Back</a>
</div>


<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <h3>{{form.title.label}}</h3>
        {{form.title}}
        <h3>{{form.username.label}}</h3>
        {{form.username}}
        <h3>{{form.password.label}}</h3>
        <div class="password-wrapper">
            {% load static %}
            <input type="password" id="password" name="password" value="{{form.password.value}}" data-toggle="password">
            <div class="eye-toggle open" id="eye-toggle" onclick="togglePass()"></div>
        </div>
        <p><b>Last updated:</b> {{form.last_updated.value}}</p>
        {{form.owned}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>

<script>
    function togglePass() {
        var passInput = document.getElementById("password");
        var toggle = document.getElementById("eye-toggle");
        if(passInput.type === "password") {
            passInput.type = "text";
            toggle.classList.remove("open");
            toggle.classList.add("closed");
        } else {
            passInput.type = "password";
            toggle.src = './imgs/eye.png';
            toggle.classList.remove("closed");
            toggle.classList.add("open");
        }
    }

</script>


{% endblock content %}